@import 'adaptive';
@import 'spacing';
@import 'colors';
@import 'font';

.c-container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.text-underline {
  border-bottom: 3px $accent2 solid;
}

.default-parent-block {
  padding: 100px 0 0 0;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-14 {
  border-radius: 14px;
}

.rounded-15 {
  border-radius: 15px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-24 {
  border-radius: 24px;
}

.rounded-30 {
  border-radius: 30px;
}

.rounded-100 {
  border-radius: 100px !important;
}

.no-scroll-bar {
  &::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar,
  *::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }
}

.custom-scroll-bar {
  &::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar,
  *::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb,
  *::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;
  }
}

.q-dialog .q-dialog__backdrop {
  background: rgba(0, 0, 0, 0.7) !important;
}

.q-field--auto-height .q-field__control,
.q-field--auto-height .q-field__native {
  min-height: unset !important;
  height: 100%;
}

.q-field__marginal {
  height: unset !important;
}

.q-field {
  .q-field__control {
    height: inherit !important;
  }
}

.q-checkbox__inner--falsy .q-checkbox__bg {
  border-radius: 5px;
  border: 2px #919aa1 solid;
}

.q-field__label {
  transition: all 0.3s;
  top: 50%;
  display: flex;
  transform: translate(0, -50%);
}

.q-field--labeled .q-field__native {
  padding-top: 10px;
}

.q-input:not(.q-file).q-field--float .q-field__label {
  transform: translate(0, -50%) scale(0.85) !important;
  top: 0px !important;
  padding: 0 5px;
  z-index: 1;
  transition: all 0.3s;
  width: fit-content;
}

.q-checkbox__inner--truthy .q-checkbox__bg {
  border-radius: 5px;
}

.q-field__append.q-field__marginal {
  display: none;
}

.q-field__bottom {
  padding-left: 0;
  padding-top: 4px;
  font-size: 13px;
}

.q-field--outlined .q-field__control {
  border-radius: 20px;
}

.q-field--outlined .q-field__control {
  padding-top: 4px;
  padding-left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
