@import 'adaptive';
@import 'spacing';
@import 'colors';
@import 'font';

.c-container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.default-parent-block {
  padding: 100px 0 0 0;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-24 {
  border-radius: 24px;
}

.rounded-30 {
  border-radius: 30px;
}

.rounded-100 {
  border-radius: 100px !important;
}

.no-scroll-bar {
  &::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar,
  *::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }
}

.q-dialog .q-dialog__backdrop {
  background: rgba(0, 0, 0, 0.7) !important;
}

.q-field--auto-height .q-field__control,
.q-field--auto-height .q-field__native {
  min-height: unset !important;
  height: 100%;
}

.q-field__marginal {
  height: unset !important;
}

.q-field {
  .q-field__control {
    height: inherit !important;
  }
}

.q-checkbox__inner--falsy .q-checkbox__bg {
  border-radius: 4px;
  border: 2px #919aa1 solid;
}

.q-field__append.q-field__marginal {
  display: none;
}

.q-field__bottom {
  padding-left: 0;
  padding-top: 4px;
  font-size: 13px;
}

.q-field--outlined .q-field__control {
  border-radius: 20px;
}

.q-field--outlined .q-field__control {
  padding-top: 4px;
  padding-left: 20px;
}
