$colors: (
  'primary': #3E424D,
  'accent1': #FED42A,
  'accent2': #FF2035,
  'secondary1': #F4F4F4,
  'secondary2': #F5F6F9,
  'transparent': #00000000,
  'white-opacity': rgba(255, 255, 255, 0.6),
  'white': #fff,
  'success': #1ac30b,
  'danger': #ff3b10,
);

@each $index, $color in $colors {
  .bg-#{$index} {
    background: $color !important;
  }

  .text-#{$index} {
    color: $color !important;

    &.q-select .q-field__native span {
      color: $color !important;
    }
  }
  .q-btn.underline.text-#{$index}:after,
  .q-btn.underline-fixed.text-#{$index}:after {
    background: $color !important;
  }
  .bg-#{$index} .q-field__label {
    background: $color !important;
    border-radius: 4px;
  }
}

.bg-input-white-opacity {
  background: rgba(255, 255, 255, 0.2) !important;
}
