@font-face {
  font-family: 'Involve-Bold';
  src: local('Involve-Bold'), url(src/fonts/Involve/Involve-Bold.ttf);
}

@font-face {
  font-family: 'Involve-Medium';
  src: local('Involve-Medium'), url(src/fonts/Involve/Involve-Medium.ttf);
}

@font-face {
  font-family: 'Involve-Regular';
  src: local('Involve-Regular'), url(src/fonts/Involve/Involve-Regular.ttf);
}

* {
  font-family: 'Involve-Medium', sans-serif;
}

.bold {
  font-family: 'Involve-Bold', sans-serif !important;

  .q-field__label {
    @extend .bold;
  }

  &.q-btn div {
    @extend .bold;
  }
}

.medium {
  font-family: 'Involve-Medium', sans-serif !important;
}

.regular {
  font-family: 'Involve-Regular', sans-serif !important;

}

h1 {
  font-size: 60px;
  line-height: 60px;
  margin-block-start: unset;
  margin-block-end: unset;
}

h2 {
  font-size: 48px;
  line-height: 54px;
  margin-block-start: unset;
  margin-block-end: unset;
}

h3 {
  font-size: 36px;
  line-height: 45px;
  margin-block-start: unset;
  margin-block-end: unset;
}

h4 {
  font-size: 30px;
  line-height: 40px;
  margin-block-start: unset;
  margin-block-end: unset;
}

h5 {
  font-size: 28px;
  line-height: 36px;
  margin-block-start: unset;
  margin-block-end: unset;
}

.subtitle {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

.body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.secondary {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.caption {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

body.screen--md, body.screen--sm, {
  h1 {
    font-size: 40px;
    line-height: 44px;
  }

  h2 {
    font-size: 30px;
    line-height: 32px;
    margin-block-start: unset;
    margin-block-end: unset;
  }

  h3 {
    font-size: 23px;
    line-height: 26px;
    margin-block-start: unset;
    margin-block-end: unset;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
    margin-block-start: unset;
    margin-block-end: unset;
  }

  h5 {
    font-size: 20px;
    line-height: 24px;
    margin-block-start: unset;
    margin-block-end: unset;
  }

  .subtitle {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
  }

  .body {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
  }

  .secondary {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }

  .caption {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
  }
}


