@font-face {
  font-family: 'TTTravels-Regular';
  src: local('Travels'), url(src/fonts/Travels/TTTravels-Regular.ttf);
}

@font-face {
  font-family: 'TTTravels-DemiBold';
  src: local('Travels-Bold'), url(src/fonts/Travels/TTTravels-DemiBold.ttf);
}

.bold {
  font-family: 'TTTravels-DemiBold', sans-serif !important;
}

* {
  font-family: 'TTTravels-Regular', sans-serif !important;
}

.huge-text {
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
}

.mega-text {
  font-weight: 500;
  font-size: 48px;
  line-height: 53px;
}

.mega-text2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}

.mega-text3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
}

.header-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.7px;
}

.subtitle-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}

.subtitle-text2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.subtitle-text3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.body {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
