@font-face {
  font-family: 'Involve-Bold';
  src: local('Involve-Bold'), url(src/fonts/Involve/Involve-Bold.ttf);
}

@font-face {
  font-family: 'Involve-Medium';
  src: local('Involve-Medium'), url(src/fonts/Involve/Involve-Medium.ttf);
}

@font-face {
  font-family: 'Involve-Regular';
  src: local('Involve-Regular'), url(src/fonts/Involve/Involve-Regular.ttf);
}

* {
  font-family: 'Involve-Medium', sans-serif;
}

.bold {
  font-family: 'Involve-Bold', sans-serif !important;

  .q-field__label {
    @extend .bold;
  }

  &.q-btn div {
    @extend .bold;
  }
}

.medium {
  font-family: 'Involve-Medium', sans-serif !important;
}

.regular {
  font-family: 'Involve-Regular', sans-serif !important;

}

.mega-header1 {
  font-size: 70px;
  line-height: 70px;
}

.mega-header2 {
  font-size: 60px;
  line-height: 65px;
}

.header1 {
  font-size: 36px;
  line-height: 45px;
}

.header2 {
  font-size: 30px;
  line-height: 40px;
}

.header3 {
  font-size: 28px;
  line-height: 36px;
}

.subtitle {
  font-size: 22px;
  line-height: 30px;
}

.body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.secondary {
  font-size: 16px;
  line-height: 22px;
}

body.screen--md {
}

body.screen--sm,
body.screen--xs {
}
